* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins';
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
}

.header-top {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-img {
    width: 160px;
    height: 60px;
}

.spacer {
    display: inline-block;
    width: 10px;
}

.btn-filled, .btn-overline {
    padding: 10px 15px;
    color: white;
    background-color: black;
    outline: none;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    border: 2px solid black;
    cursor: pointer;
}

.link-container li {
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 0 20px;
    cursor: pointer;
}

.link-container li a {
    color: black;
}

.btn-overline {
    color: black;
    background-color: transparent;
}

.home-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.astronaut-img {
    height: 600px;
    width: 600px;
}

.brand-slogan {
    font-size: 48px;
    font-weight: bold;
    margin-top: 80px;
}

.work-profile-container {
    width: 80%;
    margin-top: 60px;
    height: 160px;
}

.brand-marketing {
    color: #6f6f6f;
    line-height: 30px;
    letter-spacing: 1px;
    margin-top: 20px;
}

.work-profile-info {
    display: inline-block;
    margin: auto;
    text-align: center;
    color: blue;
}
.txt-approve {
    margin: auto;
    margin-left: 16px;
    width: 140px;
    padding-bottom: 20px;
    border-bottom: 2px solid #6f6f6f;
}

.freelancer-container {
    margin-top: 40px;
}

.freelance-card {
    display: inline-block;
    width: 310px;
    margin-left: 20px;
    margin-right: 20px;
}

.freelance-card img{
    width: 160px;
    height: 80px;
    display: block;
}

.freelance-card span{
    color: #6f6f6f;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}

.freelance-card a{
    color: blue;
    letter-spacing: 1px;   
}

.freelance-card .upwork-img{
    display: block;
    width: 140px;
    height: 80px;
}
.freelance-stars {
    margin-bottom: 10px;
}
.freelance-stars i {
    color: gold;
}


/* about me  */
.profile-container {
    margin-top: 200px;
    text-align: center;
}

.profile-header {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: bold;
}

.profile-container img {
    width: 260px;
    height: 260px;
    border-radius: 1000px;
}
.profile-content {
    margin-top: 20px;
}
.profile-content h3 {
    color: #333333;
}

.ciao {
    color: red;
}
.profile-summary {
    margin: auto;
    width: 700px;
    text-align: center;
    color: #6f6f6f;
    line-height: 30px;
    letter-spacing: 1px;
}
.empty-spacer {
    height: 500px;
}
.fold {
    margin-top: 30px;
    font-size: 40px;
}   

/* reviews starts here  */
.review-header , .tech-header{
    margin-top: 50px;
    text-align: center;
}
.review-card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.reviews-card {
    position: relative;
    width: 400px;
    height: 240px;
    font-size: 14px;
    color: #6f6f6f;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
}

.star-container {
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.reviews-card .stars{
    color: gold;
}

.freelancer-img {
    width: 160px;
    height: 80px;
}
.upwork-img {
    width: 160px;
    height: 80px;
}
.more-review {
    margin-top: 50px;
    text-align: center;
 }
 .upwork-text {
     color: green;
 }
 .freelancer-link {
     color: blue;
 }
 .upwork-link {
     color: green;
 }

 /* reviews */
 .tech-container {
     margin-top: 50px;
     display: flex;
     justify-content: space-evenly;
 }

 .tech-card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 260px;
    height: 240px;  
 }

 .tech-name {
     position: absolute;
     bottom: 20px;
     left: 0;
     right: 0;
 }

.larg-img{
    height: 200px;
    width: 200px;
}

.tech-header {
    margin-top: 100px;
    margin-bottom: 100px;
}

.notice {
    margin-top: 100px;
    padding: 40px;
    text-align: center;
    color: white;
    background-color: #3B5998;
    border-radius: 4px;
}

/* footer  */
footer {
    margin-top: 100px;
    padding: 50px;
    background-color: #333333;
    color: white;
}

footer img {
    width: 160px;
}

.divider {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 1px;
    background-color: white;
}
footer .container p {
    margin-top: 20px;
    margin-bottom: 10px;
    color: red;
    font-size: 20px;
}
.exp {
    margin-top: 20px;
    margin-bottom: 20px;
}